.vs/

/src/node_modules
src/package.json
src/package-lock.json

/src/core/Wafia/.vs
/src/core/Wafia/Wafia/bin
/src/core/Wafia/Wafia/html/node_modules
/src/core/Wafia/Wafia/obj

/src/core/Wafia/Wafia/node_modules

/src/core/Wafia/Database/bin
/src/core/Wafia/Database/obj
/src/core/Wafia/Database/connection_data.txt

/src/core/Wafia/Test/bin
/src/core/Wafia/Test/obj

/src/core/Wafia/TestResults/